<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.ConfigMapper">

    <resultMap id="BaseResultMap" type="org.example.domain.Config">
            <id property="id" column="id" />
            <result property="createBy" column="create_by" />
            <result property="modifyBy" column="modify_by" />
            <result property="created" column="created" />
            <result property="lastUpdateTime" column="last_update_time" />
            <result property="type" column="type" />
            <result property="code" column="code" />
            <result property="name" column="name" />
            <result property="desc" column="desc" />
            <result property="value" column="value" />
    </resultMap>

    <sql id="Base_Column_List">
        id,create_by,modify_by,created,last_update_time,type,
        code,name,desc,value
    </sql>
</mapper>
