<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.SysPrivilegeMapper">

    <resultMap id="BaseResultMap" type="org.example.domain.SysPrivilege">
            <id property="id" column="id" />
            <result property="createBy" column="create_by" />
            <result property="modifyBy" column="modify_by" />
            <result property="created" column="created" />
            <result property="lastUpdateTime" column="last_update_time" />
            <result property="menuId" column="menu_id" />
            <result property="name" column="name" />
            <result property="description" column="description" />
            <result property="url" column="url" />
            <result property="method" column="method" />
    </resultMap>

    <sql id="Base_Column_List">
        id,create_by,modify_by,created,last_update_time,menu_id,
        name,description,url,method
    </sql>
    <select id="getPrivilegesByRoleId" resultType="java.lang.Long">
        select privilege_id from sys_role_privilege where role_id=#{roleId}
    </select>
</mapper>
